.bgr{
    background-image: url("https://cdn.glitch.com/5e0357de-c1ea-459b-b6fd-08ed961c900c%2F94484638_2569367290058423_4385490431912181760_o.jpg?v=1589724002814");
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 580px;
}