.promo{
    padding-bottom: 40px;
    padding-top: 40px;
}

.promo_container{
    background: #fff none repeat scroll 0 0;
    background: #fff none repeat scroll 0 0;
    padding: 10px 0;
    position: relative;
    height: 94px;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.promo_item{
    width: 33.333333%;
    display: flex;
    align-items: center;
    text-align: center;
    border-right: 1px solid #eee;
    justify-content: center;
}

.promo_icon{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 34px;
    margin-right: 22px;
}

.promo_info_title{
    margin-bottom: 5px;
}

.promo_info_number{
    margin-top: 5px;
}

.promo_info{
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    color: #777;
}